.window {
    width: 100%;
    height: 100%;
    max-width: 800px;
    height: 500px;
    position: absolute;
}

media-controller {
    --media-control-background: #c0c0c0;
    --media-control-hover-background: #c0c0c0;
}

media-time-range {
    --media-range-bar-color	: navy;
    --media-range-track-height: 32px;
    --media-range-padding: 4px;
    --media-range-thumb-opacity: 0;
    --_focus-visible-box-shadow: inset -2px -2px #dfdfdf,inset 2px 2px grey;
  }

media-fullscreen-button,
media-play-button,
media-mute-button,
media-volume-range {
    box-shadow: inset -2px -2px #dfdfdf,inset 2px 2px grey;
}

media-volume-range::part(thumb) {
    -webkit-appearance: none;
    height: 21px;
    width: 11px;
    background: url("img/indicator-horizontal.svg");
    /* transform: translateY(-8px); */
    box-shadow: none;
    border: none;
    border-radius: 0;
}