body {
    background-color: teal;
    cursor: url('img/arrow.svg'), auto;
    margin: 0;
    padding: 10px;
    height: 100vh;
    width: 100vw;
}

.window {
    width: 100%;
    height: 100%;
    max-width: 800px;
    height: 545px;
    position: absolute;
    cursor: url('img/pointer.svg'), auto;
}

.divider {
    width: 2px;
    height: 30px;
    align-self: center;
    background-image: linear-gradient(to right, #808080 50%, #fff 50%);
}

media-control-bar {
    --media-control-background: #c0c0c0;
    --media-control-hover-background: #c0c0c0;
    background-color: #c0c0c0;
    width: 100%;
    align-items: center;
}

media-controller {
    --media-control-background: #c0c0c0;
    --media-control-hover-background: #c0c0c0;
}

media-time-range {
    --media-range-bar-color: linear-gradient(90deg, navy 16px, transparent 0 2px) repeat 0 0 / 18px 100%;
    --media-range-track-height: 28px;
    --media-range-padding: 4px;
    --media-range-thumb-opacity: 0;
    --_focus-visible-box-shadow: inset -2px -2px #dfdfdf,inset 2px 2px grey;
  }

media-time-display {
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 11px;
    color: #000;
    font-weight: bold;
}

/* media-fullscreen-button,
media-play-button,
media-mute-button,
media-volume-range {
    box-shadow: inset -2px -2px #dfdfdf,inset 2px 2px grey;
} */

.title-bar-controls media-fullscreen-button {
    padding: 0;
}

media-seek-forward-button:active,
media-seek-backward-button:active,
media-play-button:not([mediapaused]),
media-fullscreen-button:not([mediacontroller]):active,
media-mute-button:active {
    box-shadow: inset -2px -2px #dfdfdf,inset 2px 2px grey;
}

media-volume-range::part(thumb) {
    -webkit-appearance: none;
    height: 21px;
    width: 11px;
    background: url("img/indicator-horizontal.svg");
    /* transform: translateY(-8px); */
    box-shadow: none;
    border: none;
    border-radius: 0;
}

media-loading-indicator {
    --media-loading-indicator-icon-width: 64px;
    --media-loading-indicator-icon-height: 64px;
    filter: invert(100%);
    mix-blend-mode: screen;
}